html {
  background: url('../assets/images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100%;
  align-items: center;
};

body {
  color:#023052;
  background-color: transparent;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  height: 100%;
  max-width: 750px;
}

.content {
  background-color: white;
  padding: 2.5em;
  border-bottom: 5px #023052 solid;
}

.logo {
  padding-bottom: 2.5em;
}

.what-we-do {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  p {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 2.5em;
  }
}

.secure-advice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;

  p:last-child {
    margin-bottom: 0;
  }
}

.monogram {
  max-width: 50%;
  height: auto;
}

a {
  background: transparent;
  border: 2px #ED5A23 solid;
  text-transform: capitalize;
  color: #ED5A23;
  font-weight: bold;
  font-family: $nirmit;
  padding: 5px 10px 5px 10px;
  box-shadow: 2px 4px 8px 0px rgba(0,0,0,0.1);
  text-decoration: none;

  &:hover {
    color: #ED5A23;
    text-decoration: none;
  }
  &:active {
    box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.2);
    text-decoration: none;
  }

  &:focus {
    outline:none;
    text-decoration: none;
  }
}

footer {
  font-weight: bold;
  font-size: 0.7em;
  text-align: center;
  font-family: $nirmit;
  width: 100%;
}

@include media-breakpoint-down(sm) {
  body {
    padding-top: 2em;
  }

  .container {
    max-width: 300px;
  }
  .what-we-do p {
    font-size: 1.3em;
  }

  .secure-advice {
    margin-top: 3.5em;
    font-size: .8em;
    margin-bottom: 3.5em;
  }

  footer {
    @include media-breakpoint-down(sm) {
      text-align: left;
      margin-top: 3em;
    }
  }
}